<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>310903977602-em9ubsit1ekmdaek3svvbksksdgb912j.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.310903977602-em9ubsit1ekmdaek3svvbksksdgb912j</string>
	<key>API_KEY</key>
	<string>AIzaSyA_4ZGTJKz1xBqxdYSOeB8kspPQTNpo3CI</string>
	<key>GCM_SENDER_ID</key>
	<string>310903977602</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.glennmelkior.ProjectGaruda</string>
	<key>PROJECT_ID</key>
	<string>projectgaruda-4fdf1</string>
	<key>STORAGE_BUCKET</key>
	<string>projectgaruda-4fdf1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:310903977602:ios:d52c2202726c437895e69b</string>
	<key>DATABASE_URL</key>
	<string>https://projectgaruda-4fdf1.firebaseio.com</string>
</dict>
</plist>